body {
	background: #000;
}
#frame_around {
	position: absolute;
	border: none;
	left:0;
	right:0;
	top:20px;
	bottom:0;
	border-radius: 6px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
#flocknote_frame {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}